body {
  transition: 0.5s ease;
  background-color: rgb(131, 188, 211);
}
.githublogo {
  position: sticky;
  width: 46px;
  background-color: white;
  border-radius: 5px;
  padding: 4px 4px 4px 4px;
  margin: 10px 0 0 10px;
}

.Darkicon:hover {
  cursor: pointer;
}
.gigachad {
  width: 150px;
  border-radius: 100px;
  box-shadow: 0 2px 5px 0;
}
.container {
  text-align: center;
}
.link {
  display: block;
  background-color: white;
  text-align: center;
  padding: 13px;
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  border-radius: 5px;
  margin: 0 150px 6px 150px;
  transition: ease 0.8s;
}
.link:hover {
  transition: 0.8s;
  margin: 0 80px 6px 80px;
}
.Darkicon {
  margin-left: 4px;
  width: 54px;
  border-radius: 5px;
}
.container2 {
  display: flex;
  align-items: center;
  gap: 20px;
}
